<div class="bg-cDarkBlue text-cWhite font-roboto tracking-tighter">
    <div class="w-full bg-cover bg-center " style="background-image: url('RPCN.png');">
    <div class="flex items-start justify-start h-full bg-black bg-opacity-10">
        <div class="py-28 px-40 space-y-6">
            <h1 class="text-cWhite text-6xl mb-4 font-roboto-condensed font-bold tracking-tighter">
                Introducing the
                <br>
                <span class="text-cOrange">Racer Points</span> Challenge
            </h1>
            <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter w-1/2 pr-10">
                The Racer Points Challenge is here to celebrate consistency, dedication,
                and improvement! While the top 3 finishers in each race take home cash prizes,
                positions 4-15 earn Racer Points, with higher points awarded to better placements.
                <br>
                <br>
                Each week, the top 10 drivers on the Racer Points leaderboard win a free race entry,
                giving everyone a chance to stay competitive and keep racing.

            </h2>

        </div>
    </div>
</div>
</div>
