<div class="bg-cDarkBlue text-cWhite font-roboto tracking-tighter">

 <div class="w-full bg-cover bg-center" style="background-image: url('bbflip.jpg')">
        <div class="flex items-start justify-start h-full bg-black bg-opacity-50 sm:bg-opacity-50">
            <div class="py-8 px-6 m:px-12 lg:py-32 lg:px-40 space-y-6">
                <h1
                    class="text-cGreen text-4xl sm:text-5xl lg:text-6xl font-roboto-condensed font-bold tracking-tighter">
                    Big Blind
                <span class="text-cWhite">Streamed Race</span>
               
                </h1>
              
                <h2 class="text-cWhite text-xl sm:text-2xl font-roboto-condensed tracking-tighter w-3/4 lg:w-1/2">
                   Participate in the big blind streamed race. This will be hosted and
                commentated by Sim-Racing influencer Jimmy Grills.
                <br><br>
                Get ready for More Risk and More Reward, with elevated entry fees
                the prize pool for this race has reached an all time high. Are you
                good enough to take it home?
                </h2>
            </div>
        </div>
    </div>

 
     <!-- Countdown Banner -->
    <div class="w-full bg-cGreen bg-center">
        <div class="relative h-full">
            <!-- Centered content -->
            <div class="flex items-center justify-center h-full">
                <div class="text-center py-16 md:py-24 md:px-40">
                    <span class="block text-cBlack font-roboto text-2xl md:text-3xl tracking-tighter">Race begins
                        in</span>
                    <div class="flex items-center space-x-2 mt-4">
                        <!-- Days -->
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">12</span>
                            <span class="text-md md:text-2xl font-roboto">Days</span>
                        </div>
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">:</span>
                            <span>.</span>
                        </div>
                        <!-- Hours -->
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">10</span>
                            <span class="text-md md:text-2xl font-roboto">Hours</span>
                        </div>
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">:</span>
                            <span>.</span>
                        </div>
                        <!-- Minutes -->
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">23</span>
                            <span class="text-md md:text-2xl font-roboto">Minutes</span>
                        </div>
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">:</span>
                            <span>.</span>
                        </div>
                        <!-- Seconds -->
                        <div class="flex flex-col items-center text-cBlack tracking-tighter">
                            <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">34</span>
                            <span class="text-md md:text-2xl font-roboto">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<!-- Race Name -->
<div
    class="flex flex-col lg:flex-row justify-between items-center p-4 lg:mx-52 bg-cDarkBlue text-cWhite lg:pr-8 lg:pt-16">
    <div class="text-center lg:text-left">
        <span class="text-4xl lg:text-5xl mb-6 font-roboto-condensed tracking-tighter font-bold">Big Blind Streamed Race</span>
    </div>
    <div class="mt-4 lg:mt-0">
        <button routerLink="/checkout"
            class="w-full lg:w-auto bg-cBlue text-white text-2xl font-roboto-condensed tracking-tighter px-14 py-2 rounded-sm hover:px-20 hover:bg-cWhite hover:text-cBlack duration-200 transition-all ease-linear font-bold">
            Sign-Up for Race (18/22)
        </button>
    </div>
</div>

<!-- Race Details -->
<div class="flex flex-col lg:flex-row justify-between px-4 lg:px-8 xl:mx-52">
    <!-- Track -->
    <div class="w-full lg:w-1/2 pt-6 lg:pt-12">
        <div class="mb-4 border border-cBorderGrey bg-cDarkBlue">
            <img src="RudskogenTrack.PNG" alt="Track Image" class="w-full h-auto">
            <div class="flex items-center m-2 text-cDarkGrey">
                <mat-icon>flag</mat-icon>
                <h2 class="text-md md:text-xl ml-1">Circuit of Spa-Francorchamps - Grand Prix 2010</h2>
            </div>
        </div>

        <!-- Weather -->
    <div class="flex justify-between mb-4 border border-cBorderGrey bg-cDarkBlue">
        <!-- First Column: Temperature -->
        <div class="flex flex-col items-center justify-center leading-none p-5">
    
            <span class="text-cDarkGrey text-4xl xl:text-6xl mb-6 font-roboto tracking-tighter font-bold">18.6°C</span>
            <span class="text-cDarkGrey text-1xl">Mostly Cloudy</span>
        </div>
        <!-- Second Column: Weather Descriptors -->
        <div class="flex flex-col items-start p-5 justify-center text-cDarkGrey">
                        <span>Track Moisture</span>
            <span>Humidity</span>
            <span>Wind Speed</span>
            <span>Wind Direction</span>
        </div>
        <div class="flex flex-col items-start p-5 justify-center text-cDarkGrey font-bold">
            
            <span>20%</span>
            <span>61%</span>
            <span>15 kph</span>
            <span>North East</span>
        </div>
    </div>

        <!-- Race Setup -->
        <div class="border border-cBorderGrey bg-cDarkBlue">
            <div class="flex flex-wrap justify-between p-5 gap-4 lg:gap-0">
                <div class="flex items-center text-[#62D1CC]">
                    <mat-icon>access_time</mat-icon>
                    <span class="ml-1 font-bold">20 Min Race</span>
                </div>
                <div class="flex items-center text-[#FBE057]">
                    <mat-icon>play_arrow</mat-icon>
                    <span class="ml-1 font-bold">2 Quali Laps</span>
                </div>
                <div class="flex items-center text-[#FFA366]">
                    <mat-icon>lock</mat-icon>
                    <span class="ml-1 font-bold">Fixed Setup</span>
                </div>
                <div class="flex items-center text-cGreen">
                    <mat-icon>attach_money</mat-icon>
                    <span class="font-bold">P1 - P6</span>
                </div>
            </div>
            <div class="flex flex-col p-5 space-y-2 text-cDarkGrey">
                <div class="flex items-center space-x-2">
                    <mat-icon>access_time</mat-icon>
                    <span>6:15 pm Race Start on 24th December 2024</span>
                </div>
                <div class="flex items-center space-x-2">
                    <mat-icon>flag</mat-icon>
                    <span>Circuit of Spa-Francorchamps</span>
                </div>
                <div class="flex items-center space-x-2">
                    <mat-icon>directions_car</mat-icon>
                    <span>Toyota GR86</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Average Times for Mobile-->
    <div class=" py-4 xl:mx-56 block lg:hidden">
        <div class="py-6 flex flex-col lg:flex-row border border-cBorderGrey bg-cDarkBlue">
            <!-- Average Lap Time -->
            <div class="flex flex-col items-center w-full lg:w-1/2 mb-6 lg:mb-0">
                <span class="text-cGrey text-xl text-center">Average Lap Time of Last Race in Same Conditions</span>
                <span class="text-cGrey text-3xl lg:text-[2.5rem] font-bold pt-1">1:33.791</span>
            </div>
            <!-- Fastest Lap Time -->
            <div class="flex flex-col items-center w-full lg:w-1/2">
                <span class="text-cGrey text-xl text-center">Fastest Lap Time of Last Race in Same Conditions</span>
                <span class="text-cGrey text-3xl lg:text-[2.5rem] font-bold pt-1">1:29.520</span>
            </div>
        </div>
    </div>

    <!-- Prize Pool -->
<div class=" w-full lg:w-1/2 flex flex-col justify-center items-center  space-y-3 pl:0 lg:pl-8 pt-2 sm:pt-12">
    <div class="flex flex-col items-center mb-6">
        <span class="text-2xl font-roboto-condensed tracking-tighter leading-none">Total Prize Pool</span>
        <span class="text-6xl font-roboto-condensed tracking-tighter font-bold text-center mt-4">$200 USD</span>
    </div>
    <div class="border border-cGreen bg-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm ">
        <span class="text-cDarkBlue font-roboto tracking-tighter">1st</span>
        <span class="text-cDarkBlue mx-auto font-roboto tracking-tighter font-bold text-3xl">$100 USD</span>
    </div>
    <div
        class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGreen transition-all duration-200 ease-linear">
        <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">2nd</span>
        <span class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack ">$60
            USD</span>
    </div>
    <div
        class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGreen transition-all duration-200 ease-linear">
        <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">3rd</span>
        <span class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">$40
            USD</span>
    </div>
    <div routerLink="/events/RPRewards"
        class="border border-cBorderGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
        <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">4th</span>
        <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">20
            RP</span>
    </div>
    <div routerLink="/events/RPRewards"
        class="border border-cBorderGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
        <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">5th</span>
        <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">17
            RP</span>
    </div>
    <div routerLink="/events/RPRewards"
        class="border border-cBorderGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
        <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">6th</span>
        <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">15
            RP</span>
    </div>
    <p class="text-cDarkGrey mt-4">If 20 racers are present in the race, the below prizes will be awarded, if less
        racers are present it will scale accordingly.</p>

</div>
</div>

<!-- Average Times -->
<div class="p-4 xl:mx-56 hidden lg:block">
    <div class="py-6 flex flex-col lg:flex-row border border-cBorderGrey bg-cDarkBlue">
        <!-- Average Lap Time -->
        <div class="flex flex-col items-center w-full lg:w-1/2 mb-6 lg:mb-0">
            <span class="text-cGrey text-xl text-center">Average Lap Time of Last Race in Same Conditions</span>
            <span class="text-cGrey text-3xl lg:text-[2.5rem] font-bold pt-1">1:33.791</span>
        </div>
        <!-- Fastest Lap Time -->
        <div class="flex flex-col items-center w-full lg:w-1/2">
            <span class="text-cGrey text-xl text-center">Fastest Lap Time of Last Race in Same Conditions</span>
            <span class="text-cGrey text-3xl lg:text-[2.5rem] font-bold pt-1">1:29.520</span>
        </div>
    </div>
</div>


<!-- Participants -->
<div class="p-6 w-full ">
    <!-- Header and Sub-header -->
    
    <div class="flex justify-between items-center mb-6 mt-4 mx-0 lg:mx-52">
        <div>
            <h1 class="text-5xl mb-2 font-roboto-condensed tracking-tighter font-bold ">Race Participants</h1>
            <h2 class="text-cWhite text-lg md:text-2xl mb-4 font-roboto-condensed tracking-tighterl">All the racers who have registered are shown below.</h2>
        </div>
    
    </div>
<!-- Table Mobile -->
<div class="overflow-x-auto mx-4 sm:mx-8 lg:hidden">
    <table class="min-w-full bg-cDarkBlue">
        <thead class="border border-cBorderGrey bg-cDarkBlue">
            <tr>
                <th class="py-2 px-4 text-center">No.</th>
                <th class="py-2 px-4 text-center">Racer</th>
                <th class="py-2 px-4 text-center">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let racer of racers; let i = index" [ngClass]="{'bg-gray-800': i % 2 === 1}">
                <td class="py-2 px-4 text-center">{{ i + 1 }}</td>
                <td class="py-2 px-4 text-center">{{ racer.name }}</td>
                <td class="py-2 px-4 text-center">{{ racer.country }}</td>
            </tr>
        </tbody>
    </table>
</div>

   

    <!-- Table Desktop -->
    <div class="mx-52 hidden lg:block">
        <table class="min-w-full bg-cDarkBlue ">
            <thead class="border border-cBorderGrey bg-cDarkBlue">
                <tr>
                    <th class="py-2 px-4  text-center">No.</th>
                    <th class="py-2 px-4 text-center">Racer</th>
                    <th class="py-2 px-4  text-center">Country</th>
                    <th class="py-2 px-4 text-center">Last Competed</th>
                    <th class="py-2 px-4 text-center">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let racer of racers; let i = index"  [ngClass]="{'bg-gray-800': i % 2 === 1}">
                    <td class="py-2 px-4 text-center">{{ i + 1 }}</td>
                    <td class="py-2 px-4 text-center">{{ racer.name }}</td>
                    <td class="py-2 px-4 text-center">{{ racer.country }}</td>
                    <td class="py-2 px-4  text-center">{{ racer.lastCompeted }}</td>
                    <td class="py-2 text-center">
                        <button class=" text-white font-bold px-8 py-1 rounded hover:bg-cBlue duration-100 transition-all ease-linear">View Profile</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
