services:
  wsrc-app:
    build:
      context: .
      dockerfile: ./wsrc-app/Dockerfile.dev
    image: wsrc-app:dev
    ports:
      - "4200:4200"
    volumes:
      - ./wsrc-app:/app/wsrc-app
      - /app/wsrc-app/node_modules
      - ./models:/app/models
    environment:
      - CHOKIDAR_USEPOLLING=true
  wsrc-api:
    build:
      context: .
      dockerfile: ./wsrc-api/Dockerfile.dev
    image: wsrc-api:dev
    ports:
      - "3000:3000"
    volumes:
      - ./wsrc-api:/app/wsrc-api
      - /app/wsrc-api/node_modules
      - /app/wsrc-api/dist
  wsrc-admin:
    build:
      context: .
      dockerfile: ./wsrc-admin/Dockerfile.dev
    image: wsrc-admin:dev
    ports:
      - "4300:4200"
    volumes:
      - ./wsrc-admin:/app/wsrc-admin
      - /app/wsrc-admin/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true