services:
  wsrc-app:
    build:
      context: ./wsrc-app
      dockerfile: Dockerfile.dev
    image: wsrc-app:dev
    ports:
      - "4200:4200"
    volumes:
      - ./wsrc-app:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
  wsrc-api:
    build:
      context: ./test-api
      dockerfile: Dockerfile
    image: wsrc-api:dev
    ports:
      - "3000:3000"