services:
  wsrc-app:
    build:
      context: .
      dockerfile: ./wsrc-app/Dockerfile.dev
    image: wsrc-app:dev
    ports:
      - "4200:4200"
    volumes:
      - ./wsrc-app:/app/wsrc-app
      - /app/wsrc-app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
  wsrc-api:
    build:
      context: .
      dockerfile: ./wsrc-api/Dockerfile
    image: wsrc-api:dev
    ports:
      - "3000:3000"