<div class="bg-cDarkBlue text-cWhite font-roboto tracking-tighter">
<!-- Countdown Banner -->
<div class="w-full bg-cover bg-center " style="background-image: url('grb.png');">
    <div class="relative h-full bg-black bg-opacity-50">
      
        <!-- Centered content -->
        <div class="flex items-center justify-center h-full">
            <div class="text-center py-16 md:py-24 md:px-40">
                <span class="block text-cWhite font-roboto text-2xl md:text-3xl tracking-tighter">Next race begins in</span>
                <div class="flex items-center space-x-2 mt-4">
                    <!-- Days -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">12</span>
                        <span class="text-md md:text-2xl font-roboto">Days</span>
                    </div>
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">:</span>
                        <span>.</span>
                    </div>
                    <!-- Hours -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">10</span>
                        <span class="text-md md:text-2xl font-roboto">Hours</span>
                    </div>
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">:</span>
                        <span>.</span>
                    </div>
                    <!-- Minutes -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">23</span>
                        <span class="text-md md:text-2xl font-roboto">Minutes</span>
                    </div>
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">:</span>
                        <span>.</span>
                    </div>
                    <!-- Seconds -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none">34</span>
                        <span class="text-md md:text-2xl font-roboto">Seconds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" flex flex-wrap xl:flex-nowrap justify-center px-4 md:px-20 xl:px-60 space-y-6 md:space-y-0 ">
    
    <!-- Race Details -->
    <div class="w-full lg:w-1/2 mr-0 pt-6 sm:pt-12">
        <div class="mb-4 relative  border border-cBorderGrey bg-cDarkBlue">
            <div class="relative">
                <!-- Image -->
                <img src="GR86RaceImage.jpg" alt="Track Image" class="w-full h-1/2">
                <!-- Dark Overlay -->
                <div class="absolute inset-0 bg-black opacity-10"></div>
                <!-- image Text -->
               <div class="absolute inset-0 flex flex-col justify-start items-center text-white pt-4 sm:pt-10">
                <div class="text-md font-roboto-condensed">Total Prize Pool</div>
                <div class="text-5xl font-extrabold">$200 USD</div>
               </div>
               <div class="absolute inset-0 flex flex-col justify-end items-center text-white">
                <div class="text-md my-2">5 days, 12 hours, 10 minutes, 21 seconds until race</div>
            </div>
        </div>
           
        <div class="flex justify-between pl-5 pr-5 pt-5">
            <div class="flex items-center text-[#62D1CC]">
                <mat-icon>access_time</mat-icon>
                <span class="ml-1 font-bold text-[0.9rem] sm:text-[0.95rem] ">20 Min Race</span>
            </div>
            <div class="flex items-center text-[#FBE057]">
                <mat-icon>play_arrow</mat-icon>
                <span class="ml-1 font-bold text-[0.9rem] sm:text-[0.95rem]">2 Quali Laps</span>
            </div>
            <div class="flex items-center text-[#FFA366]">
                <mat-icon>lock</mat-icon>
                <span class=" ml-1 font-bold text-[0.9rem] sm:text-[0.95rem]">Fixed</span>
            </div>
            <div class="flex items-center text-cGreen">
                <mat-icon>attach_money</mat-icon>
                <span class=" font-bold text-[0.9rem] sm:text-[0.95rem]">P1-P3</span>
            </div>
        </div>
        <!-- Race Information -->
        <div class="flex flex-col items-start p-5 space-y-2 text-cDarkGrey">
            <div class="flex items-center space-x-2">
                <mat-icon>access_time</mat-icon>
                <span>6:15 pm Race Start on 24th December 2024</span>
            </div>
            <div class="flex items-center space-x-2">
                <mat-icon>flag</mat-icon>
                <span>Circuit of Spa-Francorchamps</span>
            </div>
            <div class="flex items-center space-x-2">
                <mat-icon>directions_car</mat-icon>
                <span>Toyota GR86</span>
            </div>
        </div>
    
        </div>
    
        
    </div>
    <!-- Prize Pool -->
    <div class=" w-full lg:w-1/2 flex flex-col justify-center items-center  space-y-3 pl:0 lg:pl-8 pt-0 sm:pt-12">
        <div class="flex flex-col items-center mb-6">
            <span class="text-2xl font-roboto-condensed tracking-tighter leading-none">Total Prize Pool</span>
            <span class="text-6xl font-roboto-condensed tracking-tighter font-bold text-center mt-4">$200 USD</span>
        </div>
        <div class="border border-cGreen bg-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm ">
            <span class="text-cDarkBlue font-roboto tracking-tighter">1st</span>
            <span class="text-cDarkBlue mx-auto font-roboto tracking-tighter font-bold text-3xl">$100 USD</span>
        </div>
        <div
            class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGreen transition-all duration-200 ease-linear">
            <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">2nd</span>
            <span class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack ">$60
                USD</span>
        </div>
        <div
            class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGreen transition-all duration-200 ease-linear">
            <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">3rd</span>
            <span class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">$40
                USD</span>
        </div>
        <div routerLink="/events/RPRewards"
            class="border border-cBorderGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
            <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">4th</span>
            <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">20 RP</span>
        </div>
        <div routerLink="/events/RPRewards"
            class="border border-cBorderGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
            <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">5th</span>
            <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">17 RP</span>
        </div>
        <div routerLink="/events/RPRewards"
            class="border border-cBorderGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
            <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">6th</span>
            <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">15 RP</span>
        </div>
        <p class="text-cDarkGrey mt-4">If 20 racers are present in the race, the below prizes will be awarded, if less
            racers are present it will scale accordingly.</p>
            
    </div>

</div>
<!-- Sign Up Race Button -->
<div class="p-4 px-10 sm:px-60">
    <div class="py-6 flex justify-center">
    <button routerLink="/details"
        class="bg-cBlue text-white text-2xl font-roboto-condensed tracking-tighter px-14 py-2 rounded-sm hover:px-20 hover:bg-cWhite hover:text-cBlack duration-200 transition-all ease-linear font-bold ">View Details</button>
    </div>
    </div>

<!-- Upcoming -->
<div class="p-6 w-full ">
    <!-- Header and Sub-header -->
    <div class="flex justify-between items-center mb-6 mt-4 mx-0 lg:mx-52">
        <div>
            <h1 class="text-5xl mb-2 font-roboto-condensed tracking-tighter font-bold ">Upcoming WSRC Races</h1>
            <h2 class="text-cWhite text-lg md:text-2xl mb-4 font-roboto-condensed tracking-tighterl">The next races are shown below, you can register from now.</h2>
        </div>
       
    </div>

<!-- Table Section -->
<div class="mx-0 xl:mx-52">
    <!-- Desktop Table -->
    <div class="hidden md:block">
        <table class="min-w-full bg-cDarkBlue border-collapse">
            <thead class="border border-cBorderGrey bg-cDarkBlue">
                <tr>
                    <th class="py-2 px-4 text-center">Date</th>
                    <th class="py-2 px-4 text-center">Start Time</th>
                    <th class="py-2 px-4 text-center">Car</th>
                    <th class="py-2 px-4 text-center">Track</th>
                    <th class="py-2 px-4 text-center">Prize Pool</th>
                    <th class="py-2 px-4 text-center">Racers</th>
                    <th class="py-2 px-4 text-center">Register</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let race of races; let i = index">
                    <td class="py-2 px-4 text-center">{{ race.date }}</td>
                    <td class="py-2 px-4 text-center">{{ race.start_time }}</td>
                    <td class="py-2 px-4 text-center">{{ race.car }}</td>
                    <td class="py-2 px-4 text-center">{{ race.track }}</td>
                    <td class="py-2 px-4 text-center text-cGreen">{{ race.prize_pool }}</td>
                    <td class="py-2 px-4 text-center">{{ race.racers }}</td>
                    <td class="py-2 px-4 text-center">
                        <button routerLink="/details"
                            class="text-white font-bold px-8 py-1 rounded hover:bg-cWhite bg-cBlue hover:text-cBlack duration-100 transition-all ease-linear">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<!-- Mobile-Friendly Table -->
<div class="md:hidden">
    <div *ngFor="let race of races; let i = index" class="bg-cDarkBlue border border-cBorderGrey mb-4 px-4 pb-4 pt-4 rounded">
        <!-- Date -->
        <div class="flex justify-center text-cWhite font-bold font-roboto-condensed text-2xl text-center mb-4">    
            <span>WSRC {{ race.car }} Challenge - Fixed</span>
        </div>
        <div class="flex justify-between text-cWhite">
            <span class="font-bold">Date:</span>
            <span>{{ race.date }}</span>
        </div>
        <!-- Time -->
        <div class="flex justify-between text-cWhite mt-1">
            <span class="font-bold">Time:</span>
            <span>{{ race.start_time }}</span>
        </div>
       
        <!-- Track -->
        <div class="flex justify-between text-cWhite mt-1">
            <span class="font-bold">Track:</span>
            <span>{{ race.track }}</span>
        </div>
        <!-- Prize Pool -->
        <div class="flex justify-between text-cGreen mt-1">
            <span class="font-bold">Prize Pool:</span>
            <span>{{ race.prize_pool }}</span>
        </div>
        <!-- Racers -->
        
        <!-- Register Button - Full Width -->
        <div class="flex mt-4">
            <button routerLink="/details"
                class="w-full text-white font-bold px-6 py-2 rounded hover:bg-cWhite bg-cBlue hover:text-cBlack duration-100 transition-all ease-linear">
                Register ({{ race.racers }})
            </button>
        </div>
    </div>
</div>




</div>
