<!-- Banner -->
<div>
    <div class="w-full bg-cover bg-center " style="background-image: url('RaceDetailsBanner(NeedsToBeFlipped).jpg');">
        <div class="flex items-center justify-center h-full bg-black bg-opacity-15">
          <div  class="py-28 px-40 space-y-6">
            <span>Race begins in</span>
            <div class="space-x-2">
                <!-- Days -->
                <div>
                    <span>12</span>
                    <span>Days</span>
                </div>
                <span>:</span>
                <!-- Hours -->
                <div>
                    <span>10</span>
                    <span>Hours</span>
                </div>
                <span>:</span>
                <!-- Minutes -->
                <div>
                    <span>23</span>
                    <span>Minutes</span>
                </div>
                <span>:</span>
                <!-- Seconds -->
                <div>
                    <span>34</span>
                    <span>Seconds</span>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>>
<!-- Race Details -->
<div></div>>
<!-- Average Times -->
<div class="p-6 w-full">
    <div>
        <span>Average Lap Time of Last Race in Same Conditions</span>
        <span>1:33.791</span>
    </div>
    <div>
        <span>Fastest Lap Time of Last Race in Same Conditions</span>
        <span></span>
    </div>
</div>>
<!-- Participants -->
<div></div>>
