<!-- Banner -->
<div class="bg-cDarkBlue text-cWhite font-roboto tracking-tighter">
<div class="w-full bg-cover bg-center " style="background-image: url('lambo1.jpg');">
    <div class="relative h-full bg-black bg-opacity-30">
        <!-- Position the text in the top-left corner -->
       
        <button class="flex items-center absolute top-8 left-12 text-cDarkGrey font-roboto-condensed font-bold tracking-tighter text-2xl  group hover:text-cWhite transition-all duration-200 ease-linear">
            <mat-icon class=" transition-transform duration-200 ease-linear group-hover:scale-110">arrow_back_ios</mat-icon>
            <span class="ml-1 transition-transform duration-200 ease-linear group-hover:scale-110">Go to previous page</span>
        </button>
        <!-- Centered content -->
        <div class="flex items-center justify-center h-full">
            <div class="text-center py-28 px-40">
                <span class="block text-cWhite font-roboto text-3xl tracking-tighter">Race begins in</span>
                <div class="flex items-center space-x-2">
                    <!-- Days -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">12</span>
                        <span class="text-2xl font-roboto">Days</span>
                    </div>
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">:</span>
                        <span>.</span>
                    </div>
                    <!-- Hours -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">10</span>
                        <span class="text-2xl font-roboto">Hours</span>
                    </div>
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">:</span>
                        <span>.</span>
                    </div>
                    <!-- Minutes -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">23</span>
                        <span class="text-2xl font-roboto">Minutes</span>
                    </div>
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">:</span>
                        <span>.</span>
                    </div>
                    <!-- Seconds -->
                    <div class="flex flex-col items-center text-cWhite tracking-tighter">
                        <span class="text-10xl font-bold font-roboto-condensed leading-none">34</span>
                        <span class="text-2xl font-roboto">Seconds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Race Name -->
<div class="flex justify-between items-center p-4 mx-52 bg-cDarkBlue text-cWhite pr-16 pt-16">
    <div>
        <span class="text-6xl mb-6 font-roboto-condensed tracking-tighter font-bold ">WSRC GR86 Challenge - Fixed</span>
    </div>
    <div>
        <button class="bg-cBlue text-white text-2xl px-10 py-2 rounded hover:px-14 hover:bg-cWhite hover:text-cBlack duration-200 transition-all ease-linear font-bold ">Sign-Up for Race</button>
    </div>
</div>
<!-- Race Details -->
<div class="flex justify-between px-8 mx-52 ">
    <!-- Track -->
    <div class="w-1/2 mr-4 pt-12">
        <div class="mb-4  border border-cBorderGrey bg-cDarkBlue">
            <img src="lambo1.jpg" alt="Track Image" class="w-full h-1/2">
            <div class="flex items-center m-2">
                <mat-icon>flag</mat-icon>
            <h2 class="text-xl ml-1">Circuit of Spa-Francorchamps - Grand Prix 2010</h2>
            </div>
            
        </div>
        
        <!-- Weather -->
        <div class="flex justify-between mb-4 border border-cBorderGrey bg-cDarkBlue">
            <!-- First Column: Temperature -->
            <div class="flex flex-col items-start">
                <span class="font-bold">Temperature</span>
                <span>25°C</span>
            </div>
            <!-- Second Column: Weather Descriptors -->
            <div class="flex flex-col items-start">
                <span class="font-bold">Cloud Cover</span>
                <span class="font-bold">Chance of Rain</span>
                <span class="font-bold">Humidity</span>
                <span class="font-bold">Wind</span>
            </div>
            <div class="flex flex-col items-start">
                <span>50%</span>
                <span>20%</span>
                <span>60%</span>
                <span>15 km/h</span>
            </div>
        </div>
        <!-- Race Setup -->
        <div>
            <!-- Icons -->
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <mat-icon>access_time</mat-icon>
                    <span class="ml-2">20 min race</span>
                </div>
                <div class="flex items-center">
                    <mat-icon>play_arrow</mat-icon>
                    <span class="ml-2">2 quali lap</span>
                </div>
                <div class="flex items-center">
                    <mat-icon>lock</mat-icon>
                    <span class="ml-2">Fixed setup</span>
                </div>
                <div class="flex items-center">
                    <mat-icon>attach_money</mat-icon>
                    <span class="ml-2">Prizes for P1-P3</span>
                </div>
            </div>
            <!-- Race Information -->
            <div class="flex flex-col items-start">
                <span class="font-bold">6:15 pm Race Start on 24th December 2024</span>
                <span class="font-bold">Circuit of Spa-Francorchamps</span>
                <span class="font-bold">Toyota GR86</span>
            </div>
        </div>
    </div>
    <!-- Prize Pool -->
    <div class="w-1/2 flex flex-col justify-start items-center  space-y-3 pr-8 pl-16 pt-12">
        <div class="flex flex-col items-center mb-6">
           <span class="text-2xl font-roboto-condensed tracking-tighter leading-none">Total Prize Pool</span>
           <span class="text-6xl font-roboto-condensed tracking-tighter font-bold text-center mt-4">$265 USD</span>
        </div>
        <div class="border border-cGreen bg-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm ">
            <span class="text-cDarkBlue font-roboto tracking-tighter">1st</span>
            <span class="text-cDarkBlue mx-auto font-roboto tracking-tighter font-bold text-3xl">$100 USD</span>
        </div>
        <div
            class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGreen transition-all duration-200 ease-linear">
            <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">2nd</span>
            <span class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack ">$75
                USD</span>
        </div>
        <div
            class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGreen transition-all duration-200 ease-linear">
            <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">3rd</span>
            <span class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">$50
                USD</span>
        </div>
        <div
            class="border border-cGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGrey transition-all duration-200 ease-linear">
            <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">4th</span>
            <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">$25
                USD</span>
        </div>
        <div
            class="border border-cGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGrey transition-all duration-200 ease-linear">
            <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">5th</span>
            <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">$10
                USD</span>
        </div>
        <div
            class="border border-cGrey w-full h-16 flex items-center justify-between px-4 rounded-sm group hover:bg-cGrey transition-all duration-200 ease-linear">
            <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">6th</span>
            <span class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-3xl group-hover:text-cBlack">$5
                USD</span>
        </div>
        <p class="text-cWhite mt-4">If 20 racers are present in the race, the below prizes will be awarded, if less
            racers are present it will scale accordingly.</p>
    </div>
   
</div>
<!-- Average Times -->
<div class="p-6 w-full flex space-x-4">
    <div class="flex flex-col items-center">
        <span>Average Lap Time of Last Race in Same Conditions</span>
        <span>1:33.791</span>
    </div>
    <div class="flex flex-col items-center">
        <span>Fastest Lap Time of Last Race in Same Conditions</span>
        <span>1:29.520</span>
    </div>
</div>
<!-- Participants -->
<div class="p-6 w-full">
    <!-- Header and Sub-header -->
    <div class="flex justify-between items-center mb-4">
        <div>
            <h1 class="text-2xl font-bold">Race Details</h1>
            <h2 class="text-xl">Sub Header</h2>
        </div>
        <div class="text-lg">
            18/20 Racers
        </div>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto">
        <table class="min-w-full bg-cDarkBlue">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b text-center">No.</th>
                    <th class="py-2 px-4 border-b text-center">Racer</th>
                    <th class="py-2 px-4 border-b text-center">Country</th>
                    <th class="py-2 px-4 border-b text-center">Last Competed</th>
                    <th class="py-2 px-4 border-b text-center">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let racer of racers; let i = index">
                    <td class="py-2 px-4 border-b text-center">{{ i + 1 }}</td>
                    <td class="py-2 px-4 border-b text-center">{{ racer.name }}</td>
                    <td class="py-2 px-4 border-b text-center">{{ racer.country }}</td>
                    <td class="py-2 px-4 border-b text-center">{{ racer.lastCompeted }}</td>
                    <td class="py-2 px-4 border-b text-center">
                        <button class="bg-blue-500 text-white px-2 py-1 rounded">View Profile</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
