<div>
    <!-- Landing Page Banner -->
    <div class="w-full bg-cover bg-center" style="background-image: url('aboutUsC.jpg');">
        <div class="flex items-start justify-start h-full bg-black bg-opacity-70">
            <div class="p-40 space-y-6">
                <h1 class="text-cWhite text-6xl mb-4 font-roboto-condensed font-bold tracking-tighter">
                   What is the
                    <br>
                    World Sim Racing Competition?
                </h1>
                <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter">
                The World Sim Racing Competition (WSRC) is the only iRacing competition where <br>
                racers compete for money weekly: No team needed, no minimum skill barrier<br>
                to enter. Simply race, and if you're fast enough you'll win cash prizes!
                </h2>
             
            </div>
        </div>
    </div>
    
    <!-- Total Won -->
    <div class="bg-cGreen w-full flex items-center justify-center">
        <blockquote class="p-10 " >
            <svg class="w-16 h-16 text-cBlack  mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 18 14">
                <path
                    d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
            </svg>
            <div class="text-cBlack text-5xl mb-4 font-roboto-condensed font-bold tracking-tighter">If you're fast enough, you
                deserve the chance <br>
                to turn your passion into a living."</div>
            <div class="text-2xl mb-8 ">
                <span class="roboto-condensed font-bold tracking-tighter">- Jimmy Grills</span>,
                <span class="roboto-condensed italic tracking-tighter ">Founder of WSRC</span>
            </div>
        </blockquote>
       
       
    </div>
    <div class="bg-cGrey">
        <div class="flex justify-center">
            <div class="p-40 space-y-6 text-center">
                <h1 class="text-cWhite text-6xl mb-4 font-bold">
                    Sign-Up for Free and
                    <br>
                    Start Racing to Win Money!
                </h1>
                <h2 class="text-cWhite text-2xl mb-4">
                The World Sim Racing Competition (WSRC) is the only iRacing competition where
                racers compete for money weekly: No team needed, no minimum skill barrier
                to enter. Simply race, and if you're fast enough you'll win cash prizes!
                </h2>
    
            </div>
        </div>
    </div>
   
    <div class="bg-cDarkBlue">
        <div class="flex justify-center">
            <div class="p-40 space-y-6 text-center">
                <h1 class="text-cWhite text-6xl mb-4 font-bold">
                    Sign-Up for Free and
                    <br>
                    Start Racing to Win Money!
                </h1>
                <h2 class="text-cWhite text-2xl mb-4">
                    The only iRacing competition where racers compete for money weekly:
                    <br>
                    No team needed, no minimum skill barrier to enter. Simply race, and
                    <br>
                    if you're fast enough, you'll win cash prizes!
                </h2>
              
            </div>
        </div>
    </div>
</div>