<div class="mb-4 relative  border border-cBorderGrey bg-cDarkBlue">
    <div class="relative">
      <!-- Image -->
      <img src="GR86RaceImage.jpg" alt="Track Image" class="w-full h-1/2">
      <!-- Dark Overlay -->
      <div class="absolute inset-0 bg-black opacity-10"></div>
      <!-- image Text -->
      <div class="absolute inset-0 flex flex-col justify-start items-center text-white pt-5">
        <div class="text-md font-roboto-condensed">Total Prize Pool</div>
        <div class="text-4xl sm:text-5xl font-extrabold">${{ race ? ((race.entry_fee) * (race.max_racers)) : '???' }} USD</div>
      </div>
      
      <div class="absolute inset-0 flex flex-col justify-end items-center text-white">
        <button routerLink="/details"
          class="bg-cBlue text-cWhite text-1xl py-2.5 px-10 rounded-md font-roboto-condensed hover:bg-cWhite hover:text-cBlack transition-all duration-300 
          ease-linear hover:px-14">View race details</button>
        <div class="text-sm my-2">5 days, 12 hours, 10 mins, 21 sec until race</div>
      </div>
    </div>

    <div class="flex justify-between sm:px-5 pl-2 pr-2 pt-5 ">
      <div class="flex items-start justify-start text-[#62D1CC]">
        <mat-icon class="text-[1.3rem] sm:text-[1.35rem] leading-none m-0 p-0">access_time</mat-icon>
        <span class="ml-0 font-bold text-[0.8rem] sm:text-[0.85rem] ">20 Min Race</span>
      </div>
      <div class="flex  items-start justify-start text-[0.8rem] text-[#FBE057]">
        <mat-icon class="text-[1.3rem] sm:text-[1.35rem] leading-none m-0 p-0">play_arrow</mat-icon>
        <span class="ml-0 font-bold text-[0.8rem] sm:text-[0.85rem]">2 Quali Laps</span>
      </div>
      <div class="flex items-start justify-start  text-[0.8rem] text-[#FFA366]">
        <mat-icon class="text-[1.3rem] sm:text-[1.35rem] leading-none m-0 p-0">lock</mat-icon>
        <span class=" ml-0 font-bold text-[0.8rem] sm:text-[0.85rem]">Fixed</span>
      </div>
      <div class="flex items-start justify-start text-[0.8rem] text-cGreen">
        <mat-icon class="text-[1.3rem] sm:text-[1.35rem] leading-none m-0 p-0">attach_money</mat-icon>
        <span class=" ml-0 font-bold text-[0.8rem] sm:text-[0.85rem]">P1-P3</span>
      </div>
    </div>
    <!-- Race Information -->
    <div class="flex flex-col items-start p-5 space-y-2 text-cDarkGrey">
      <div class="flex items-center space-x-2">
        <mat-icon class="text-md">access_time</mat-icon>
        <span class="text-sm md:text-lg">6:15 pm Race Start on 24th Dec 2024</span>
      </div>
      <div class="flex items-center space-x-2">
        <mat-icon class="text-md">flag</mat-icon>
        <span class="text-sm md:text-lg">Circuit of Spa-Francorchamps</span>
      </div>
      <div class="flex items-center space-x-2">
        <mat-icon class="text-md">directions_car</mat-icon>
        <span class="text-sm md:text-lg">Toyota GR86</span>
      </div>
    </div>
    </div>
