<div 
  class="min-h-screen flex items-center justify-center bg-cover bg-center font-roboto tracking-tighter bg-cDarkBlue pt-20 sm:pt-24 md:pt-32 lg:pt-36"
  style="background-image: url('loginBG1.jpg')"
>
  <div class="bg-black bg-opacity-60 p-4 sm:p-8 shadow-lg text-center max-w-lg w-full sm:max-w-xl lg:max-w-2xl">
    <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-white mb-4 sm:mb-6">Sign Up or Log In</h1>
    <div class="flex justify-center">
      <button 
        class="flex items-center justify-center gap-3 bg-cWhite px-6 sm:px-8 lg:px-10 py-2 sm:py-3 hover:px-8 sm:hover:px-10 lg:hover:px-12 rounded shadow hover:bg-cGrey text-cBlack transition-all duration-200 ease-linear font-robot font-semibold text-sm sm:text-base lg:text-lg"
      >
        <img src="google.png" alt="Google Icon" class="w-5 sm:w-6 lg:w-7 h-5 sm:h-6 lg:h-7" />
        Continue with Google
      </button>
    </div>
  </div>
</div>
