<div class="bg-cDarkBlue text-cWhite font-roboto tracking-tighter">
  <!-- Top Banner -->

  <div
    class="w-full bg-cover bg-center"
    style="background-image: url('RPCN.png')"
  >
    <div
      class="flex items-start justify-start h-full bg-black bg-opacity-40 sm:bg-opacity-10"
    >
      <div class="py-8 px-6 m:px-12 lg:py-32 lg:px-40 space-y-6">
        <h1
          class="text-cWhite text-4xl sm:text-5xl lg:text-6xl font-roboto-condensed font-bold tracking-tighter hidden sm:block"
        >
          Introducing
          <br />
          <span class="text-cOrange">Racer Points</span>
        </h1>
        <h1
          class="text-cWhite text-4xl sm:text-5xl lg:text-6xl font-roboto-condensed font-bold tracking-tighter block sm:hidden"
        >
          Introducing

          <span class="text-cOrange">Racer Points</span>
        </h1>
        <h2
          class="text-cWhite text-xl sm:text-2xl font-roboto-condensed tracking-tighter lg:w-1/2"
        >
          The Racer Points Challenge is here to celebrate consistency,
          dedication, and improvement! While the top 3 finishers in each race
          take home cash prizes, positions 4-20 earn Racer Points, with higher
          points awarded to better placements.
          <br />
          <br />
          Each week, the top 10 drivers on the Racer Points event win a free
          race entry, giving everyone a chance to stay competitive and keep
          racing.
        </h2>
      </div>
    </div>
  </div>

  <!-- Countdown Banner -->
  <div class="w-full bg-cOrange bg-center">
    <div class="relative h-full">
      <!-- Centered content -->
      <div class="flex items-center justify-center h-full">
        <div class="text-center py-16 md:py-24 md:px-40">
          <span
            class="block text-cBlack font-roboto text-2xl md:text-3xl tracking-tighter"
            >Prizes awarded in</span
          >
          <div class="flex items-center space-x-2 mt-4">
            <!-- Days -->
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >12</span
              >
              <span class="text-md md:text-2xl font-roboto">Days</span>
            </div>
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >:</span
              >
              <span>.</span>
            </div>
            <!-- Hours -->
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >10</span
              >
              <span class="text-md md:text-2xl font-roboto">Hours</span>
            </div>
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >:</span
              >
              <span>.</span>
            </div>
            <!-- Minutes -->
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >23</span
              >
              <span class="text-md md:text-2xl font-roboto">Minutes</span>
            </div>
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >:</span
              >
              <span>.</span>
            </div>
            <!-- Seconds -->
            <div
              class="flex flex-col items-center text-cBlack tracking-tighter"
            >
              <span
                class="text-6xl md:text-10xl font-bold font-roboto-condensed leading-none"
                >34</span
              >
              <span class="text-md md:text-2xl font-roboto">Seconds</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Upcoming -->
  <div class="p-6 w-full">
    <!-- Header and Sub-header -->
    <div
      class="flex flex-col lg:flex-row justify-between items-start xl:items-center xl:mb-6 mb-0 mt-4 mx-4 xl:mx-52"
    >
      <div>
        <h1
          class="text-3xl lg:text-5xl mb-2 font-roboto-condensed tracking-tighter font-bold"
        >
          Racer Points Rewards
        </h1>
        <h2
          class="text-cWhite text-lg lg:text-2xl mb-4 font-roboto-condensed tracking-tighter"
        >
          Place in the top 10 at the end of the week and earn rewards!
        </h2>
      </div>
      <div class="text-lg lg:text-2xl ">
        Your Position: 23rd
        <br />
        Your Racer Points: 14
      </div>
    </div>
  </div>

  <!-- Table Mobile -->
  <div class="overflow-x-auto mx-4 sm:mx-8 md:hidden">
    <table class="min-w-full bg-cDarkBlue">
      <thead class="border border-cBorderGrey bg-cDarkBlue">
        <tr>
          <th class="py-2 px-4 text-center">Pos</th>
          <th class="py-2 px-4 text-center">Racer Points</th>
          <th class="py-2 px-4 text-center">Racer</th>

          <th class="py-2 px-4 text-center">Prize</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let racer of racePointRacers; let i = index"
          [ngClass]="{ 'bg-gray-800': i % 2 === 1 }"
        >
         <td class="py-2 px-4 text-center">
          <div class="flex justify-center items-center">
            <div
              class="bg-cOrange w-10 h-10 flex items-center justify-center text-cBlack font-bold"
            >
              {{ i + 1 }}
            </div>
          </div></td>
          <td class="py-2 px-4 text-center">{{ racer.racerPoints }}</td>
          <td class="py-2 px-4 text-center">{{ racer.name }}</td>

          <td class="py-2 px-4 text-center text-cOrange font-bold">
            {{ racer.prize }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Top 10 table Desktop -->
  <div class="mx-52 hidden md:block">
    <table class="min-w-full bg-cDarkBlue">
      <thead class="border border-cBorderGrey bg-cDarkBlue">
        <tr>
          <th class="py-2 px-4 text-center">Pos</th>
          <th class="py-2 px-4 text-center">Racer Points</th>
          <th class="py-2 px-4 text-center">Racer</th>
          <th class="py-2 px-4 text-center">Country</th>
          <th class="py-2 px-4 text-center">Prize</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let racer of racePointRacers; let i = index"  [ngClass]="{ 'bg-gray-800': i % 2 === 1 }">
          <td class="py-2 px-4 text-center">
            <div class="flex justify-center items-center">
              <div
                class="bg-cOrange w-10 h-10 flex items-center justify-center text-cBlack font-bold"
              >
                {{ i + 1 }}
              </div>
            </div>
          </td>
          <td class="py-2 px-4 text-center">{{ racer.racerPoints }}</td>
          <td class="py-2 px-4 text-center">{{ racer.name }}</td>
          <td class="py-2 px-4 text-center">{{ racer.country }}</td>
          <td class="py-2 px-4 text-center text-cOrange font-bold">
            {{ racer.prize }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
