<div>
    <!-- Payment info -->
    <div>
        <span>WSRC</span>
        <span>Payment Information</span>
        <span>All prices are list in USD.</span>
        <!-- Credit card information -->
        <div>Get from stripe?</div>
        <span>Your personal data will be used to process your order, support your experience throughout this website,</span>
        <span>and for other purposes described in our privacy policy.</span>
        <div>
            <mat-icon>lock</mat-icon>
            <span>Place Order Now $49.95 USD</span>
        </div>
    </div>
    <!-- Payment Summary -->
    <div>
        <span>Order Summary</span>
        <div>
            <div>img</div>
            <div>
                <span>WSRC GR86 Challenge - Fixed</span>
                <span>Dec 12, 18:15</span>
                <span>Entry Ticket</span>
            </div>
        </div>
        <div>line?</div>
        <div>
            <span>Subtotal</span>
            <span>$49.95</span>
        </div>
        <div>line?</div>
        <div>
            <span>Total</span>
            <span>$49.95</span>
        </div>
    </div>
</div>
