@font-face {
  font-family: 'porscha';
  src: url('/porscha.ttf') format('truetype');
  font-weight: bold; /* Adjust to match the font */
  font-style: normal;
}
/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

