
<div class="bg-cDarkBlue">
<div class="flex items-start justify-start h-full bg-cDarkBlue">
    <div class="pt-28 pb-16 px-40 space-y-6">
        <h1 class="text-cWhite text-6xl mb-4 font-roboto-condensed font-bold tracking-tighter">
           Account Details
        </h1>
        <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter">
           This is where you'll find all your details about your account.
        </h2>
       
    </div>
    
</div>
<div class=" flex flex-col justify-center items-start pl-64 pr-20">
   
    <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter">
        Name: Jimmy Grills
    </h2>
    <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter">
        Email: jCode.internal&#64;gmail.com
    </h2>
    <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter">
        Joined on 12 Dec 2024
    </h2>
    <h2 class="text-cWhite text-2xl mb-4 font-roboto-condensed tracking-tighter">
        iRacing Account Connected: True
    </h2>
    <button routerLink="/wallet" class="border border-cGreen inline-flex items-center justify-between px-6 py-1 rounded-md group hover:bg-cGreen transition-all duration-200 ease-linear">
        <p class="text-cGreen mx-auto font-roboto font-normal tracking-tighter text-2xl group-hover:text-cBlack hover:font-bold">
            View WSRC Wallet
        </p>
    </button>
</div>
<div class="justify-center flex items-center w-full pt-32 pb-10">
    <button
        class="border border-red-600 inline-flex items-center justify-between px-6 py-1 rounded-md group hover:bg-red-600 transition-all duration-200 ease-linear">
    
        <p class="text-red-600 mx-auto font-roboto tracking-tighter font-normal text-2xl group-hover:text-cWhite hover:font-bold">Delete Account
        </p>
    </button>
</div>
</div>