<div>
    <!-- Landing Page Banner -->
  <div class="w-full bg-cover bg-center" style="background-image: url('LandingPageBanner.jpg');">
    <div class="flex items-start justify-start h-full bg-black bg-opacity-10">
      <div  class="p-40 space-y-6">
        <h1 class="text-cWhite text-6xl mb-4 font-bold">
            Welcome to the
            <br>
            World Sim Racing Competition
        </h1>
        <h2 class="text-cWhite text-2xl mb-4">
            The only iRacing competition where racers copete for money weekly :
            <br>
            No team needed, no minimum skill barrier to enter. Simply race, and
            <br>
            if you're fast enough, you'll win cash prizes!
        </h2>
        <button class="bg-cBlue text-cWhite text-3xl py-5 px-14 rounded-lg font-bold">Start racing now!</button>
      </div>
    </div>
  </div>
    <!-- Upcoming Races -->
    <div class="bg-cDarkBlue">
        <!-- Title -->
         <div>
            <p class="text-cWhite">Upcoming WSRC Races</p>
            <p class="text-cWhite">The next 4 races are shown below.</p>
         </div>
        <!-- Race Cards -->
        <div class="flex justify-center space-x-12">
            <div class="bg-white w-1/4 h-64"></div>
            <div class="bg-white w-1/4 h-64"></div>
            <div class="bg-white w-1/4 h-64"></div>
        </div>
        <!-- Selector -->
         <div>
            <p class="text-cWhite">ill figure something out here</p>
         </div>
    </div>
    <!-- Total Won -->
    <div class="bg-cGreen w-full h-72 flex items-center justify-center">
      <div class="flex flex-col justify-center items-center ">
        <div class="text-10xl font-bold">$102,122</div>
        <div class="text-3xl mb-8">Total Cash Prizes Won By Racers</div>
      </div>
    </div>
    <!-- Cash Prizes -->
    <div class="bg-cDarkBlue flex">
        <!-- Left Side -->
        <div class="w-1/2 flex flex-col justify-center items-center p-8">
          <h1 class="text-cWhite text-4xl mb-2">Heading</h1>
          <h2 class="text-cWhite text-2xl">Subheading</h2>
        </div>
        <!-- Right Side -->
        <div class="w-1/2 flex flex-col justify-center items-center p-8 space-y-4">
          <div class="border border-cWhite w-full h-16 flex items-center justify-between px-4">
            <span class="text-cWhite">1st</span>
            <span class="text-cWhite mx-auto">$100 USD</span>
          </div>
          <div class="border border-cWhite w-full h-16 flex items-center justify-between px-4">
            <span class="text-cWhite">2nd</span>
            <span class="text-cWhite mx-auto">$75 USD</span>
          </div>
          <div class="border border-cWhite w-full h-16 flex items-center justify-between px-4">
            <span class="text-cWhite">3rd</span>
            <span class="text-cWhite mx-auto">$50 USD</span>
          </div>
          <div class="border border-cWhite w-full h-16 flex items-center justify-between px-4">
            <span class="text-cWhite">4th</span>
            <span class="text-cWhite mx-auto">$25 USD</span>
          </div>
          <div class="border border-cWhite w-full h-16 flex items-center justify-between px-4">
            <span class="text-cWhite">5th</span>
            <span class="text-cWhite mx-auto">$10 USD</span>
          </div>
          <div class="border border-cWhite w-full h-16 flex items-center justify-between px-4">
            <span class="text-cWhite">6th</span>
            <span class="text-cWhite mx-auto">$5 USD</span>
          </div>
          <p class="text-cWhite mt-4">Small text underneath</p>
        </div>
      </div>
    <!-- Stream -->
    <div class="bg-cDarkBlue">

    </div>
    <!-- Sign up -->
    <div class="bg-cDarkBlue">
      <div class="flex justify-center">
        <div class="p-40 space-y-6 text-center">
          <h1 class="text-cWhite text-6xl mb-4 font-bold">
            Sign-Up for Free and
            <br>
            Start Racing to Win Money!
          </h1>
          <h2 class="text-cWhite text-2xl mb-4">
            The only iRacing competition where racers compete for money weekly:
            <br>
            No team needed, no minimum skill barrier to enter. Simply race, and
            <br>
            if you're fast enough, you'll win cash prizes!
          </h2>
          <button class="bg-cBlue text-cWhite text-3xl py-5 px-14 rounded-lg font-bold">Start racing now!</button>
        </div>
      </div>
    </div>
</div>
