<div class="flex-grow bg-cDarkBlue pt-20 sm:pt-24 md:pt-32 lg:pt-36">
    <!-- Landing Page Banner -->
  <div class="w-full bg-cover bg-center " style="background-image: url('LandingPageBanner.jpg');">
    <div class="flex items-start justify-start h-full bg-black lg:bg-opacity-15 bg-opacity-40">
      <div  class="py-16 lg:py-28 px-10  sm:py-28 lg:px-40 space-y-6">
        <h1 class="text-cWhite text-4xl sm:text-5xl lg:text-6xl mb-4 font-roboto-condensed font-bold tracking-tighter">
            Welcome to the
            <br>
            World Sim Racing Competition
        </h1>
        <h2 class="text-cWhite text-xl sm:text-2xl mb-4 font-roboto-condensed tracking-tighter sm:w-3/4 md-w1/2 lg:w-1/3 w-full">
            The only iRacing competition where racers compete for money weekly:
            
            No team needed, no minimum skill barrier to enter. Simply race, and
            
            if you're fast enough, you'll win cash prizes!
        </h2>
        <button routerLink="/races" class="bg-cBlue text-cWhite text-lg sm:text-2xl py-3 px-8 sm:py-3.5 sm:px-10 rounded-sm font-bold font-roboto hover:bg-cWhite hover:text-cBlack transition-all duration-300 ease-linear hover:px-12 sm:hover:px-14">
          Start racing now!
        </button>
      </div>
    </div>
  </div>
    <!-- Upcoming Races -->
    
        <!-- Race Cards -->
        <div class="bg-cDarkBlue py-6 lg:py-10 px-4  sm:py-6 ">
          <!-- Title -->
          <div class="space-y-2 mb-8 lg:px-40">
            <p class="text-cWhite text-4xl sm:text-5xl font-roboto-condensed font-bold tracking-tighter">Upcoming WSRC Races</p>
            <p class="text-cWhite text-xl sm:text-2xl font-roboto-condensed tracking-tighter">The next races are shown below.</p>
          </div>
        
          <!-- 1x3 Grid -->
           <div class="flex-grow bg-cDarkBlue  text-cWhite font-roboto">
  <div class="flex flex-wrap justify-center">
    <div *ngIf='!latestRaces' class=" inset-0 flex items-center justify-center bg-opacity-75">
      <div class="w-12 h-12 border-4 border-t-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
  </div>
    <div *ngFor="let race of latestRaces" class="p-4" style="width: 400px;"  [routerLink]="['/race', race.race_id]">
      <div class="relative group cursor-pointer">
        <!-- Solid Background -->
        <div class="absolute inset-0 bg-[#EA3039] rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>

        <!-- Card -->
        <div class="relative z-10 max-w-sm mx-auto rounded-lg shadow-lg transform transition-transform duration-300 group-hover:translate-x-[7px] group-hover:translate-y-[-7px]">
          <!-- Top Image Section -->
          <div class="relative overflow-hidden rounded-t-lg">
            <img [src]="'https://cdn.matcherino.com/' + race.matcherino_image_id + '/'"
              alt="Race Image"
              class="w-full h-auto object-cover" />
          </div>

          <!-- Event Details Section -->
          <div class="bg-[#0F1325] text-white">
            <div class="text-lg font-semibold mb-2 pt-4 pb-4 bg-[#1B213A] flex items-center">
              <mat-icon class="mr-2 ml-2 text-[#EA3039]">sports_score</mat-icon>
              <span>{{ race.race_name }}</span>
            </div>

            <div class="space-y-1 text-sm p-4">
              <div class="flex justify-between">
                <div class="flex items-center">
                  <mat-icon class="text-[#848CB4] mr-2">access_time</mat-icon>
                  <span class="font-bold">Event Start:</span>
                </div>
                <span class="ml-2 font-medium">{{ race.launch_time | date : "MMM d" }}
                  {{ race.launch_time | date : "h:mm a" }}</span>
              </div>

              <div class="flex justify-between">
                <div class="flex items-center">
                  <mat-icon class="text-[#848CB4] mr-2">flag</mat-icon>
                  <span class="font-bold">Track:</span>
                </div>
                <span class="ml-2 font-medium">{{ race.track_name }}</span>
              </div>

              <div class="flex justify-between">
                <div class="flex items-center">
                  <mat-icon class="text-[#848CB4] mr-2">directions_car</mat-icon>
                  <span class="font-bold">Car:</span>
                </div>
                <span class="ml-2 font-medium">{{ race.car }}</span>
              </div>

              <div class="flex justify-between">
                <div class="flex items-center">
                  <mat-icon class="text-[#848CB4] mr-2">group</mat-icon>
                  <span class="font-bold">Racers:</span>
                </div>
                <span class="ml-2 font-medium">{{race.participants}}/20</span>
              </div>

               <div class="flex justify-between">
                <div class="flex items-center">
                  <mat-icon class="text-[#848CB4] mr-2">sell</mat-icon>
                  <span class="font-bold">Entry:</span>
                </div>
                <span class="ml-2 font-medium">{{race.entry_fee==0 ? 'Free' : '$'+race.entry_fee}}</span>
              </div>
            </div>
            
          </div>

          <!-- Entry Fee Section -->
          <div class="p-1 flex-auto bg-[#C3903B] text-white text-center font-bold rounded-b-lg flex items-center justify-center">
            <mat-icon class="mr-2">emoji_events</mat-icon>
            ${{race.prize_pool}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

           
          
       
        
        <!-- View More Races Button -->
        <div class="flex justify-center mt-6">
          <button routerLink="/races" class="bg-cBlue text-cWhite text-1xl sm:text-2xl py-4 px-20 sm:px-28 rounded-md font-semibold font-roboto tracking-tighter hover:bg-cWhite hover:text-cBlack transition-all duration-300 
                          ease-linear hover:px-36">Show more races</button>
        </div>
    </div>
    <!-- Total Won -->
    <div class="bg-cGreen w-full h-78  flex items-center justify-center">
      <div class="flex flex-col justify-center items-center ">
        <div class="lg:text-10xl text-8xl mt-8 font-bold font-roboto-condensed tracking-tighter">${{totalPrizeAmount}}</div>
        <div class="text-2xl mb-8 font-roboto tracking-tighter">Total Cash Prizes Won By Racers</div>
      </div>
    </div>
    <!-- Cash Prizes -->
    <div class="bg-cDarkBlue flex flex-col lg:flex-row my-12">
      <!-- Left Side -->
      <div class="w-full lg:w-1/2 flex flex-col justify-center items-left px-4 lg:pl-48 lg:pr-20 py-8">
        <h1 class="text-cWhite text-5xl lg:text-6xl mb-6 font-roboto-condensed tracking-tighter font-bold">
          Cash prizes for winners
        </h1>
        <h2 class="text-cWhite text-lg lg:text-2xl md:mb-4 mb-0 font-roboto-condensed tracking-tighter">
          Our weekly races offer payouts to the top finishers, rewarding your speed and skill. Whether you're aiming for
          first
          place or just striving to make the top 6, every race is an opportunity to earn.
          <br>
          With prize amounts scaled to the number of participants, racing has never been more rewarding. Join now and put
          your
          talent to the test!
        </h2>
      </div>
      <!-- Right Side -->
      <div class="w-full lg:w-1/2 flex flex-col justify-center items-start px-4 lg:px-40 md:py-8 py-0 space-y-4">
        <div class="border border-cGreen bg-cGreen w-full h-16 flex items-center justify-between px-4 rounded-md">
          <span class="text-cDarkBlue font-roboto tracking-tighter">1st</span>
          <span class="text-cDarkBlue mx-auto font-roboto tracking-tighter font-bold text-2xl lg:text-3xl">$100 USD</span>
        </div>
        <div
          class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-md group hover:bg-cGreen transition-all duration-200 ease-linear">
          <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">2nd</span>
          <span
            class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-2xl lg:text-3xl group-hover:text-cBlack">$60
            USD</span>
        </div>
        <div
          class="border border-cGreen w-full h-16 flex items-center justify-between px-4 rounded-md group hover:bg-cGreen transition-all duration-200 ease-linear">
          <span class="text-cGreen font-roboto tracking-tighter group-hover:text-cBlack">3rd</span>
          <span
            class="text-cGreen mx-auto font-roboto tracking-tighter font-bold text-2xl lg:text-3xl group-hover:text-cBlack">$40
            USD</span>
        </div>
        <!-- <div routerLink="/events/RPRewards"
          class="border border-cGrey w-full h-16 flex items-center justify-between px-4 rounded-md group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
          <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">4th</span>
          <span
            class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-2xl lg:text-3xl group-hover:text-cBlack">20
            RP</span>
        </div>
        <div routerLink="/events/RPRewards"
          class="border border-cGrey w-full h-16 flex items-center justify-between px-4 rounded-md group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
          <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">5th</span>
          <span
            class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-2xl lg:text-3xl group-hover:text-cBlack">17
            RP</span>
        </div>
        <div routerLink="/events/RPRewards"
          class="border border-cGrey w-full h-16 flex items-center justify-between px-4 rounded-md group hover:bg-cOrange hover:border-cOrange transition-all duration-200 ease-linear">
          <span class="text-cGrey font-roboto tracking-tighter group-hover:text-cBlack">6th</span>
          <span
            class="text-cGrey mx-auto font-roboto tracking-tighter font-bold text-2xl lg:text-3xl group-hover:text-cBlack">15
            RP</span>
        </div> -->
        <!-- <p class="text-cWhite mt-4 font-roboto-condensed">
          If 20 racers are present in the race, the below prizes will be awarded, if fewer racers are present it will scale
          accordingly.
        </p> -->
      </div>
    </div>

    <!-- <div class="p-4 lg:p-10 pt-16 sm:pt-0 bg-cDarkBlue">
      <div class="w-full aspect-[16/9] bg-cover bg-center rounded-lg"
        style="background-image: url('NotStreamingImageLT.jpg');">
          <iframe *ngIf="isLive" src="https://player.twitch.tv/?channel=wsrc_official&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="100%" width="100%"></iframe>
  
        <div *ngIf="!isLive" class="flex items-center justify-center h-full bg-black bg-opacity-60 rounded-lg">
          <div class="text-center px-4">
            <p class="text-cWhite text-4xl lg:text-8xl font-porscha pb-4 lg:pb-7">WSRC</p>
            <p class="text-cWhite font-roboto-condensed font-bold text-3xl lg:text-7xl tracking-tighter mb-4 lg:mb-6">
              We aren't streaming right now.
            </p>
            <p class="text-cWhite font-roboto-condensed tracking-tighter text-md lg:text-3xl">
              Click here to check out our Twitch channel <br> and follow us.
            </p>
          </div>
        </div>
      </div> 
    </div> -->
<div class="flex flex-col md:flex-row bg-black text-white p-6 py-16 ">
  <div class="w-full md:w-1/2 flex items-center justify-center">
    <video class="w-full max-w-md h-auto aspect-square object-cover rounded-lg" controls>
      <source src="/conor.mov" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="w-full md:w-1/2 flex flex-col justify-center p-6 pr-16">
    <blockquote class="italic text-xl border-l-4 border-[#C3903B] pl-4">
      "I won $20, raced against and met some incredible people, I’ll definitely be back! <br><br> Whether you’re looking for free-entry races with cash prizes or high-stakes competitions with even bigger rewards, WSRC has it all. <br><br>If you’re serious about sim racing and want to make money from it, I highly, highly recommend checking them out."
    <p class="mt-4 font-bold">Connor Cadle (&commat;connercracing)</p>
    <p class="text-[#C3903B] font-bold">WSRC’s First Race Winner</p>
    </blockquote>
   
  </div>
</div>


    <!-- Sign up -->
    <div class="bg-cDarkBlue">
      <div class="flex justify-center">
        <div class="pb-20 pt-10 px-10 space-y-6 text-center">
          <h1 class="text-cWhite text-5xl lg:text-6xl mb-6 font-roboto-condensed tracking-tighter font-bold">
            Start Racing to Win Money!
          </h1>
          <h2 class="text-cWhite text-lg sm:text-2xl mb-4 font-roboto-condensed tracking-tighter">
          Dive straight into the action. No team required, just your skills, the thrill of
          racing, <br>
          and the chance to win cash prizes every week.
          </h2>
          <button routerLink="/races" class="bg-cBlue text-cWhite text-2xl py-3.5 px-10 rounded-md font-bold font-roboto hover:bg-cWhite hover:text-cBlack transition-all duration-300 ease-linear hover:px-14">
            Start racing now!
          </button>
        </div>
      </div>
    </div>
</div>
