<div class="flex-grow bg-cDarkBlue pt-20 sm:pt-24 md:pt-32 lg:pt-36 text-cWhite font-roboto tracking-tighter">

    <div class="w-full bg-cover bg-center" style="background-image: url('gift.jpg')">
        <div class="flex items-start justify-start h-full bg-black bg-opacity-40 sm:bg-opacity-10">
            <div class="py-8 px-6 m:px-12 lg:py-32 lg:px-40 space-y-6">
                <h1
                    class="text-cWhite text-4xl sm:text-5xl lg:text-6xl font-roboto-condensed font-bold tracking-tighter">
                    Welcoming
                <span class="text-[#00EEFF]">Race Gift</span>
                </h1>
              
                <h2 class="text-cWhite text-xl sm:text-2xl font-roboto-condensed tracking-tighter lg:w-1/2">
                   Welcome to WSRC! We are so happy you decided to give us
                a shot. As a way of saying thanks if you participate in 5 races
                we'll give you a free race entry on us!
                <br><br>
                Keep Racing!
                </h2>
            </div>
        </div>
    </div>

  
  <div class="p-6 w-full">
    <!-- Header and Sub-header -->
    <div class="flex flex-wrap lg:flex-nowrap justify-between items-start mb-6 mt-4 mx-4 lg:mx-32">
        <div class="w-full xl:w-3/4">
            <h1 class="text-3xl lg:text-5xl mb-2 font-roboto-condensed tracking-tighter font-bold">
                Terms & Conditions
            </h1>
            <h2 class="text-cWhite text-lg lg:text-2xl mb-4 font-roboto-condensed tracking-tighter lg:w-3/4">
                This promotional offer is exclusively available to new racers who have participated in their first five races with us.
                To qualify, racers must complete five full races within the promotional period and meet all participation requirements,
                including proper registration and adherence to event rules. The free race is non-transferable, non-refundable, and must
                be redeemed within 30 days of qualifying. Any form of misconduct or violation of race regulations will result in
                disqualification from this offer. Please note that this promotion cannot be combined with any other discounts or offers.
            </h2>
        </div>
        <div class="w-full lg:w-1/4 flex flex-col items-center mt-6 md:mt-0">
            <button
                class="bg-[#00EEFF] text-cBlack text-xl lg:text-2xl py-3 px-6 w-full md:w-[20rem] rounded-md font-bold font-roboto-condensed hover:bg-cWhite hover:text-cBlack transition-all duration-300 ease-linear">
                Redeem Free Race
            </button>
            <p class="text-cWhite mt-4 text-sm lg:text-1xl">
                0/5 races complete
            </p>
        </div>
    </div>
</div>

</div>
