name: Build and Push Docker Images to Docker Hub
on:
  push:
    branches:
      - production

jobs:
  build:
    name: Build and push Docker images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create .env file
        run: |
          echo "IRACING_EMAIL=${{ secrets.IRACING_EMAIL }}" >> ./wsrc-api/.env
          echo "IRACING_PASSWORD=${{ secrets.IRACING_PASSWORD }}" >> ./wsrc-api/.env
          echo "SUPABASE_URL=${{ secrets.SUPABASE_URL }}" >> ./wsrc-api/.env
          echo "SUPABASE_KEY=${{ secrets.SUPABASE_KEY }}" >> ./wsrc-api/.env

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push wsrc-app
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wsrc:app -f ./wsrc-app/Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/wsrc:app

      - name: Build and push wsrc-api
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wsrc:api -f ./wsrc-api/Dockerfile .
          docker push ${{ secrets.DOCKER_USERNAME }}/wsrc:api
